<!DOCTYPE html>
<html lang="en" ng-app="thereishope">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>There is Hope</title>

        <!-- Bootstrap -->
        <link href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Magnific Popup core CSS file -->
        <link href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/css/magnific-popup.css" rel="stylesheet">

        <!-- Google reCAPTCHA -->
        <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

        <!-- Custom -->
        <link href="assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#main-space">There is Hope</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#main-space">Home</a></li>
                        <li><a href="#two">Skill Development Camp</a></li>
                        <li><a href="#three">Speaking Engagements</a></li>
                        <li><a href="#four">About</a></li>
                        <li><a href="#five">FAQs</a></li>
                        <li><a href="#six">Camp Registration</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div id="main-space"></div>
        <section id="one" class="container">

            <div class="col-md-12">
                <h1 class="text-center">There is Hope Organization</h1>

                <div class="text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="business" value="coachtc333@yahoo.com">
                        <input type="hidden" name="item_name" value="There is Hope Organization">
                        <input type="hidden" name="item_number" value="hope">
                        <input type="image" src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/paypal-donate-button.png" width="225px" name="submit" alt="PayPal - 
                        The safer, easier way to pay online!">
                    </form>
                </div>

                <p>Young men today face serious societal problems as never before, including substance abuse, youth violence and crime, teenage fatherhood and an escalating
                school dropout rate. There is Hope Organization has an ethical approach to combating these issues by building youth character and excellence through field practice 
                and instruction, teamwork, academic development and ethical principles.  The advanced athlete can receive biomechanics training to provide maximum efficiency.</p>

                <div class="popup-gallery text-center">
                    <a href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-run-2.JPG">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-run-2.JPG" height="100px"></a>
                    <a href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-catching.JPG">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-catching.JPG" height="100px"></a>
                    <a href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-kneeling.JPG">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-kneeling.JPG" height="100px"></a>
                    <a href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-cones.jpg">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-cones.jpg" height="100px"></a>
                    <a href="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-running.jpg">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/training-running.jpg" height="100px"></a>
                </div>
            </div>

            
            
            

            <div class="clearfix">
                
                <div class="col-md-12">
                    <h3 class="text-center">Football Camp Details</h3>

                    <p class="text-center">Dates: June 19-21, 2018 (Tuesday - Thursday)</p>

                    <p class="text-center">Time: 9:00 a.m. - 12:30 p.m.</p>

                    <p class="text-center">Location: Oakland High School, 1023 MacArthur Blvd. in Oakland, CA</p>

                    <p class="text-center">Camp Fee: Free to all campers ages 11-18</p>
                </div>
                <div class="col-md-6">
                        
                            
                </div>
            </div>

            <hr />

            <div class="row">
                <center><div class="col-md-4">
                    <h4 class="text-danger">INTEGRATING FOOTBALL FUNDAMENTALS WITH ETHICAL TRUTHS</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="text-danger">PLEASE SEE CAMP PAGE FOR CAMP REGISTRATION FORM</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="text-danger">OFFENSIVE &amp; DEFENSIVE<br />
                    TECHNIQUES</h4>
                </div></center>
            </div>
        </section>

        <section id="two">
            <div class="container">
                <h2 class="text-center">Skill Development Camp</h2><br />

                <div class="row">
                    <div class="col-md-12 margin-bottom-20">
                        <h3><font color="gold"> About Our Coaches</font></h3>

                        <p><strong>Thomas Coleman</strong>: Head Coach Founder of There is Hope Organization. Thomas is a veteran coach of over 25 years having instructed football 
                        at the professional, college and high school levels. Thomas has mentored and developed student athletes to matriculate to universities in prominent major 
                        football conferences, including the PAC 10 and Big 12 conferences.</p>

                        <p>Our pool of instructors also include outstanding veteran college and high school coaches selected for their ability to teach the game of football and 
                        mentor boys and young men through the teaching of ethical principles. For more information or to register for camp, request an application via our contact 
                        form or call <a href="tel:510-224-3511">510-224-3511</a>.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="three">
            <div class="container">
                <h2 class="text-danger text-center">Speaking Engagements</h2>

                <div class="row">
                    <div class="col-md-12">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/thomas-coleman-and-tracey-coleman.jpg" width="480px" class="center-block img-responsive 
                        margin-bottom-10" alt="Thomas and Tracey Coleman together">
                        
                        <p class="text-center">Thomas Coleman, CEO<br />
                        Dr. Tracey Coleman, wife and COO</p>
                    
                        <p>About Coach Coleman</p>

                        <p>Coach Coleman is one of this countries foremost resources teaching, mentoring and motivating athletes to become successful on and off the field. Athletes on 
                        every level from professional to youth have applied Coach Coleman’s teaching techniques and philosophies to become elite performers on every level. After spending 
                        time in what he terms “the laboratory” athletes improve technique, athletic intelligence, and emotional resilience.</p>

                        <p>For several decades Coach Coleman has taught from a simple mantra “every day and every way, we get a little better”. Using his 5-tier Championship approach that 
                        is both practical and enlightening for athletes to pursue the Champion within.</p>

                        <p>As a passionate believer in the “possibility of the impossible”, Coach Coleman teaches with passion, humor, and hope that are infectious to everyone witnessing 
                        his performance. He continuously exhorts clients that their best performance is still ahead of them so one must pursue relentlessly.</p>

                        <p>He is a native of Southern California through his formative years, later graduating from high school in the Bay Area (Oakland, CA). Coach Coleman grew up as an 
                        under-size athlete with an “over size desire” and strong faith. With the grace of God he used these attributes to propel him to obtain a Division I athletic-scholarship. 
                        As a Division I athlete he was awarded all league, honorable mention all-American awards, later becoming a Free Agent wide receiver with the Oakland Raiders. Although 
                        injuries cut short his professional career, he discovered a unique skill set for teaching, coaching and motivating others. He formulated, organized, and implemented 
                        those processes, which are currently used to teach others how to achieve championship results on the playing field and in life.</p>

                        <p>Coach Coleman began his coaching at Sacramento State University and quickly fell under the watchful eye of Hall of Fame coach Bill Walsh. It was under Walsh that he 
                        studied as a coaching intern and learned many of the principles he draws from today. One of Coach Coleman’s applicable take-away ideologies while working with the San 
                        Francisco 49ers was to become a master craft-man at whatever you’re attempting. To acquire the mastery necessary for excellence requires a carefully crafted plan and 
                        method of approach.</p>

                        <p class="margin-bottom-20">The 5-tier approach to becoming a champion at whatever you desire, plus resources gleamed from the 49ers, and over 20 years studying his craft has made Coach Coleman 
                        a sought after resource to produce life changing results. If you are a player, team, or an organization desiring to learn championship principles of success, it is a 
                        must that you spend time with Coach Coleman in “the lab”!</p>

                    </div>
                </div>
            </div>
        </section>

        <section id="four">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="text-danger text-center">About</h2>
                    <p><strong>There is Hope Organization is a nonprofit organization that invests in developing discipline, teamwork, goal setting and other inter-personal 
                    skills in young men, young women, and professional athletes.</strong></p>

                    <p class="margin-bottom-40">Using football fundamentals and academic skills development, along with social and emotional skill development, There is Hope shapes character and ignites 
                    a sense of hope in the lives of youth. Through our 5-day football camp, athletes are able to participate in ethical skill development, followed by football 
                    skills training.</p>

                    <h2 class="text-danger text-center">Mission</h2>
                    <p>There is Hope is designed to provide athletes with the opportunity to become more aware of their ethical and moral responsibilities in their homes, schools 
                    and communities The football skills training for our athletes will strengthen their abilities on the field of play, improve teamwork skills, and overall self 
                    confidence allowing them to reach maximal potential.</p>

                    <p>There are many athletes in today's society that are distracted with outside negative influences, detouring them from meeting their identified goals and objectives. 
                    There is Hope provides ethical and moral tools to athletes for success on the field as well as off the field to assist with the challenges of life.</p>
                </div>
            </div>
        </section>

        <section id="five">
            <div class="container">
                <h2 class="text-center">FAQs regarding there is hope youth football camp</h2>
                <p class="text-center"><strong class="text-danger">How can I sign up for camp?</strong><br />
                Request a registration application via the <a href="contact.html">contact form</a> on this website.</p>

                <p class="text-center"><strong class="text-danger">What if campers do not have any previous football experience?</strong><br />
                No prior football experience is needed.</p>

                <p class="text-center"><strong class="text-danger">What type of supervision will be enforced during camp?</strong><br />
                At all times, professional coaches, educators and pastors, as well as counselors will be in attendance to supervise campers.</p>

                <p class="text-center"><strong class="text-danger">Will there be contact on the field and what kind of equipment will campers need?</strong><br />
                Our camp will stress the necessary skills and techniques needed to play football but with "no contact."</p>

                <p class="text-center"><strong class="text-danger">Can parents or guardians watch the practice sessions during camp?</strong><br />
                Yes, parent and guardian attendance is welcome during practice sessions.</p>

                <p class="text-center"><strong class="text-danger">What type of attire should campers wear?</strong><br />
                It is advised that campers wear athletic attire consisting of sweatpants or shorts with a white tee shirt and  football cleats for on-field traction.</p></center>
            </div>
        </section>

        <section id="six">
            <div class="container">
                <h2>Camp Location</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1576.190711493271!2d-122.23751399999999!3d37.804534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x126ff442dea667ee!2sOakland+High+School!5e0!3m2!1sen!2sus!4v1463826500499" width="100%" height="325" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="row">
                    <div class="col-md-6">
                        <h2>More camp details</h2>

                        <p>Camp will be held at Oakland High School - 1023 MacArthur Blvd. in Oakland, California.</p>

                        <p><strong class="text-danger">Camp Schedule:</strong> June 19-21, 2018 (Tuesday - Thursday) | Ages 11-18</p>

                        <p><strong class="text-danger">Camp Registration Deadline:</strong> Applications will be accepted through June 18, 2018.</p>

                        <p class="margin-bottom-40">For more information, call <a href="tel:510-224-3511">510-224-3511</a> or submit your request via the contact form on this page.</p>

                        <!--Guest Coaches-->
                        <h2 class="text-center">Head Coach: Thomas Coleman<br />
                        <u>Guest Coaches</u></h2>

                        <p><strong><u>Monday 6/19:</u><br />
                        Ferric Collons -‐ NE Pat’s, Oakland Raiders<br />
                        Chris Marshall -‐ American River College Counselor</strong></p>

                        <p><strong><u>Tuesday 6/20:</u><br />
                        Jody Sears -‐ Sacramento State Head Coach</strong></p>

                        <p><strong><u>Wednesday 6/21:</u><br />
                        Chris Shipe -‐ Los Mandanos Head Coach</strong></p>

                        <p><strong><u>Thursday 6/22:</u><br />
                        Greg Knapp -‐ 20yr NFL Coach</strong></p>

                        <p class="margin-bottom-40"><strong><u>Friday 6/23:</u><br />
                        Michael Johnson Jr. -‐ American River College Elite Playmaker<br />
                        Charlie Ramirez -‐ Pittsburg High School Varsity DC</strong></p>

                        <!--Meet Our Coaches-->
                        <h2>Meet Our Coaches</h2>

                        <p class="small"><strong>Thomas Coleman</strong> is the head coach and founder of There is Hope Organization. Thomas is a veteran coach of over 25 years 
                        having instructed football at the professional, college and high school levels. Thomas has mentored and developed student athletes to matriculate to 
                        universities in prominent major football conference, including the PAC 10 and Big 12 conferences.</p>

                        <p class="small"><strong>Ferric Collows</strong> Played Defensive End, #92, for the New England Patriots from 1995 - 1999. He played Defensive End for the 
                        LA Raiders in 1993. Ferric is a graduate of Berkley CA college.</p>

                        <p class="small"><strong>Chris Marshall</strong> is a graduate of Grant HS. He played Wide Reciever and Defensive Back for American River College (ARC) from 
                        2001 - 2002 and for Northern Michigan College.</p>

                        <p class="small"><strong>Jody Sears</strong> was a Wide Receiver at Washington State University. He was a General Assistant at Iowa State from 1994 - 1996, 
                        Defensive Coordinator at St Ambrose from 1998 - 1999, Corner Back Coach for the Army from 2000 - 2002, Defensive Coordinator for Eastern Washington from 
                        2003 - 2007, and for Washington State 2008 - 2011. Jody was the Head Coach at Weber State from 2012 - 2013 and has been the Head Coach at Sacramento State 
                        from 2014 - present.</p>

                        <p class="small"><strong>Chris Shipe</strong> was the Quaterback that helped lead Pittsburg HS to victory when they defeated De La Salle and became the North 
                        Coast Section Champs in 1991. From there he went on to play Quaterback for Los Mandanos College from 1992 - 1993 and Humboldt State from 1994 - 1995. Chris 
                        was also the Wide Receiver coach for Humboldt State from 1996 - 1998. He was the Offensive Coordinator for Mandanos College from 2002 - 2013 and the Head 
                        Coach from 2014 - present.</p>

                        <p class="small"><strong>Greg Knapp</strong> was a Quarterback for the Kansas City Chiefs (1986), LA Raiders (1987 - 1990), and SF 49'ers (1992 - 1994). He was 
                        the Quaterback Coach for the Houston Texans (2010 - 2011) and The Denver Broncos (2013 - 2016). Greg was the Offensive Coordinator for the Atlanta Falcons 
                        (2004 - 2006), Oakland Raiders (2007 - 2008 &amp; 2012), and Seattle Seahawks (2009). He is a two time AFC Champion (2013 &amp; 2015) and a 2015 Super Bowl 
                        champ. Greg is a Sacramento State College graduate.</p>

                        <p class="small"><strong>Michael Johnson Jr</strong> was a top 10 Receiver for Sacramento State Univeristy in 2002. He was also a Receiver for the Arizona 
                        Rattlers (2004) and the Amorillo Dusters (2005). Michael was a Wide Reciever coach for Sheldon HS from 2009 - 2012. He's been the Wide Receiver and Return 
                        Specialist coach at American River College from 2013 - present. Michael is the President of Play Makers Elite Fitness (PME) an athletic performance center 
                        located in Sacramento, CA that helps a variety of atheletes achieve their goals. He's also the son of a former NFL great, Butch, Johnson, who played 10 years 
                        in the NFL for the Dallas Cowboys.</p>

                        <p class="small"><strong>Charlie Ramirez</strong> is the Defensive Coordinaor for Pittsburg HS Varsity team. Since becoming the Defensive Coordinator in 2012 
                        they have been CalHi Sports All-State players 3 of the last 5 years from his defense and twenty defensive players have received football scholarships.</p>

                    </div>
                    <div class="col-md-6" ng-controller="ctrlSendEmail">
                        <h2>Registration form</h2>
                        <form role="form" name="formContactUs" class="margin-clear" novalidate="">
                            <div class="form-group">
                                <label for="frmName">Name:</label>
                                <input type="text" class="form-control"
                                    ng-class="{ 'has-error': formContactUs.frmName.$error.required && !formContactUs.frmName.$pristine }"
                                    id="frmName"
                                    placeholder="First &amp; Last Name"
                                    ng-model="userDetails.name"
                                    required
                                /><!-- /frmName -->
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="frmShirtSize">Student t-shirt size:</label>
                                        <select class="form-control" id="frmShirtSize" ng-model="userDetails.shirtSize" required>
                                            <option value="XS">XS</option>
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L" selected>L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    </div>
                                        <div class="col-md-6">
                                        <label for="frmAge">Student Age:</label>
                                        <input type="number" class="form-control"
                                            ng-class="{ 'has-error': formContactUs.frmAge.$error.required && !formContactUs.frmAge.$pristine }"
                                            id="frmAge"
                                            placeholder="Age"
                                            ng-model="userDetails.studentAge"
                                            required
                                        /><!-- /frmAge -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="frmSchool">Student School, City, and State:</label>
                                <input type="text" class="form-control"
                                    ng-class="{ 'has-error': formContactUs.frmSchool.$error.required && !formContactUs.frmSchool.$pristine }"
                                    id="frmSchool"
                                    placeholder="School, City, and State"
                                    ng-model="userDetails.studentSchool"
                                    required
                                /><!-- /frmSchool -->
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control"
                                    ng-class="{ 'has-error': formContactUs.frmEmail.$error.required && !formContactUs.frmEmail.$pristine }"
                                    id="frmEmail"
                                    placeholder="User@Domain.com"
                                    ng-model="userDetails.email"
                                    required
                                /><!-- /frmEmail -->
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                        ng-class="{ 'has-error': formContactUs.frmEmailUpdates.$error.required && !formContactUs.frmEmailUpdates.$pristine }"
                                        id="frmEmailUpdates"
                                        ng-model="userDetails.isToReceiveUpdates"
                                    /><!-- /frmEmailUpdates -->
                                    Check here to receive email updates
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="frmPhone">Phone:</label>
                                <input type="text" class="form-control"
                                    ng-class="{ 'has-error': formContactUs.frmPhone.$error.required && !formContactUs.frmPhone.$pristine }"
                                    id="frmPhone"
                                    placeholder="Enter Phone"
                                    ng-model="userDetails.phone"
                                    required
                                /><!-- /frmEmail -->
                            </div>
                            <div class="form-group">
                                <label for="frmMessage">Message:</label>
                                <textarea id="frmMessage" rows="5" class="form-control"
                                    ng-class="{ 'has-error': formContactUs.frmMessage.$error.required && !formContactUs.frmMessage.$pristine }"
                                    placeholder="Message"
                                    ng-model="userDetails.message"
                                    required
                                ></textarea><!-- /frmMessage -->
                            </div>
                            <div vc-recaptcha key="'6LdSGCQTAAAAAC0TuE_hJGarEIHPY9grUSIFiw7T'"></div><br />
                            <button type="button" class="btn btn-primary text-white" ng-click="fnClearForm();">Clear</button>
                            <button type="button" class="btn btn-default" id="submit"
                                ng-click="fnSendForm()"
                                ng-class="{'disabled': formContactUs.$invalid}"
                                ng-disabled="formContactUs.$invalid"
                            >Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div id="smi" class="text-center">
                    <a href="https://www.facebook.com/coachtc"><img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/facebook-icon.png" class="width-35px"></a>&nbsp;
                    <a href="https://www.instagram.com/coachtc333/"><img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/images/instagram-icon.png" class="width-35px"></a>&nbsp;&nbsp;
                    Copyright &copy;. There is Hope Organization. All rights reserved.
                </div>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Magnific Popup core JS file -->
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/js/jquery.magnific-popup.min.js"></script>

        <!-- ==================================================================
            AngularJS Components
        ================================================================== -->
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/bower_components/angular/angular.min.js"></script>
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/js/angular/app.js"></script>
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/js/angular/services.js"></script>
        <script src="https://d1xrp9zhb3ks3c.cloudfront.net/web/thereishope/assets/js/angular/controllers.js"></script>

        <!-- Custom JS file -->
        <script src="assets/js/custom.js"></script>
    </body>
</html>
